host = www.flickr.com
apiKey = your API key
email = your login email
password = password
username = username
nsid = 72913494@N00
groupid = 34427469792@N01
testgroupid = 52240590759@N01
photoid = 4594867
photosetid = 122485
imagefile = path/to/test/image
secret = your secret
token = your token (with delete privileges)